.categoryCont {
  height: 2000px;
}

.categoryTable {
  width: 1200px;
  margin: auto;
  margin-top: 35px;
  table-layout: fixed;
  position: relative;
}

.categoryTable td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.categoryTableTitle th {
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  height: 70px;
  line-height: 70px;
}

.categoryContent {
  font-size: 12px;
  line-height: 180px;
  font-weight: bold;
  border-bottom: 1px solid #d3d3d3;
}

.categoryImg {
  width: 100px;
  display: block;
  margin: 0px auto;
}

.categoryImg:hover {
  transform: scale(1.1);
}

.switchBtn {
  margin-top: -20px;
  margin-left: -1000px;
  border: 0;
}

.searchInput {
  margin-right: -1000px;
}

.sort_performance {
  display: inline-flex;
  position: sticky;
  margin-top: 20px;
  margin-bottom: -150px;
  margin-right: -1000px;
}

.sort_performance p {
  font-weight: bold;
}

.sort_performance p:hover {
  color: #6c757d;
  /* color:#d94844 */
}

/* .sort_performance p:focus {
    color : red;
} */

/* 이미지 슬라이드 */
.sliderImg {
    width: 300px;
    height: 300px;
    align-items: center;
}
