.hotImg {
  /*background-color: #282c34;*/
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.hotImg img {
  width: 20px;
}

.hotImg div {
  margin-left: 1rem;
  margin-right: 1rem;
  /* margin : 10px 1rem; */
  margin: 0 auto;
  margin-bottom: 30px;
  width: 65%;
}

/* .photo {
  width: 200px;
  height: 200px;
} */