.successPage{
    height: 28rem;
}

.successPage h1{
    /*margin: 0 auto;*/
    margin-top: 10rem;
    font-size: 4rem;
}

.successPage button{
    width: 10rem;
    height: 3rem;
    margin-top: 6rem;
}

.card{
    width: 20%;
    height: 20rem;
}

.list-group-item:hover{
    background-color: lightgray;
}

.mypagebody{
    display: flex;
}

.tabct{
    width: 70%;
    height: 30rem;
    margin: 0 auto;
    margin-top: 3rem;
}

.card button{
    width: 50%;
    margin: auto;
    margin-top: 1rem;
}
