.success{
  width: 450px;
  max-width: 450px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  position: absolute;
  margin-left: -450px;
  margin-top: -22px;
  z-index: 1000;
  background: rgb(255, 253, 253);
  background-color:rgba(0, 0, 0, 0.0);
  border-bottom:0.3px solid rgb(0, 0, 0) ;
  color: black;
  overflow:scroll;
  overflow-x:hidden;
  height:auto;
  max-height:400px;
  border-radius: 15px ;
}

.success::-webkit-scrollbar {
  width: 0px;
  border-radius: 15px;
}
.success::-webkit-scrollbar-thumb {
  
  background-color: #2f3542;
}
.success::-webkit-scrollbar-track {
  background-color: rgb(223, 221, 221);
}

.searchInput {
padding-left: 20px;
width: 450px;
max-width: 450px;
height: 40px;
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;   
background: #fff;
color: black;
border:none;
border-radius: 10px 10px 10px 10px;
}

.searchBox{
margin-left: -10px;
  height: 100px;
  width: 450px;
  background-color: rgb(255, 255, 255);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  border: 0.5px solid rgb(133, 131, 131);
  border-radius: 10px 10px 10px 10px ;
  
}
.searchResult{
  margin-left: 10px;
  height: 100px;
  width: 185px;
  
}
.searchBox:hover{
  color: #fff;
  outline: 0;
  box-shadow: 40px 40px 100px 40px rgb(53, 52, 52) inset;

}

.searchResult img{
  width: 100%;
  height: 100%;
}
.search1{
  float: left;
  width: 80px;
  
}
.search2{
  font-size: 15px;
  margin-top: 35px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 5px;
  padding-top: 5px;
}