.categoryTable {
    /* width: 70%; */
    width: 1200px;
    margin: auto;
    margin-top: 35px;
    table-layout: fixed;
    }

.categoryTable td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.categoryTableTitle th {
    /* background-color: #6c757d; */
    /* color:white; */
    border-top: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    height: 70px; 
    line-height: 70px; 
}

.categoryContent {
    /* text-align : center; */
    /* justify-content : center;
    align-items : center;  */
    font-size: 12px;
    line-height: 180px;
    font-weight: bold;
    border-bottom: 1px solid #D3D3D3;
}

.categoryImg {
    width: 100px;
    display: block; 
    margin: 0px auto;
}

/* .showContent {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
} */